html {
    width: 100%;
    background: #f1f4f9;
}
body {
    padding-bottom: 485px;
    font-family: "Montserrat";
}
.sm_state_4000,
.sm_state_4004,
.sm_state_4006,
.sm_state_4008,
.sm_state_4009,
.sm_state_4005,
.sm_state_4011,
.sm_state_3999,
.sm_state_4003,
.sm_state_4007,
.sm_state_4002,
.sm_state_4010,
.sm_state_4012 {
    transition: all 0.3s ease-in-out;
}

#map path:hover {
    fill: #070A52 !important;
}

#map {
    position: absolute;
    top: 350px;
    left: 17%;
    /* transform: translate(-50%, -50%); */
    /* transform: scale(1.1); */
}
.map__info-box {
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.map__info-box span {
    border-radius: 3px;
    padding: 2px 12px 3px 13px;
    background-color: #90b8f8;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    font-size: 14px;
    font-weight: 900;
}
.map__info-box p {
    color: #282828;
    font-weight: 700;
    margin: 4px 0;
    font-size: 12px;
    line-height: normal;
}

/* .dotted-line-4121 {
    user-select: none;
    position: absolute;
    z-index: 1;
    right: 175px;
    top: 98px;
    min-height: 150px;
    border-left: 3px dotted #353941;
}
#info-4121 {
    right: 142px;
    top: 72px;
} */

.dotted-line-4012 {
    user-select: none;
    position: absolute;
    z-index: 1;
    right: 134px;
    top: 273px;
    min-width: 10px;
    min-height: 173px;
    border-top: 3px dotted #353941;
    border-right: 3px dotted #353941;
    transform: skewY(30deg);
}
#info-4012 {
    right: 88px;
    top: 438px;
}

.dotted-line-4000 {
    user-select: none;
    position: absolute;
    z-index: 1;
    right: 421px;
    top: 329.5px;
    min-width: 35px;
    min-height: 105px;
    border-top: 3px dotted #353941;
    border-left: 3px dotted #353941;
    transform: skewY(-30deg);
}
#info-4000 {
    top: 436px;
    right: 411px;
}

.dotted-line-4004 {
    user-select: none;
    position: absolute;
    z-index: 1;
    right: 555.1px;
    top: 247px;
    width: 0;
    min-height: 105px;
    border-top: 3px dotted #353941;
    border-left: 3px dotted #353941;
}
#info-4004 {
    right: 512.7px;
    top: 333px;
}

.dotted-line-4006 {
    user-select: none;
    position: absolute;
    z-index: 1;
    right: 611px;
    top: 145px;
    min-width: 118px;
    min-height: 120px;
    border-top: 3px dotted #353941;
    border-left: 3px dotted #353941;
    transform: skewY(-30deg);
}
#info-4006 {
    right: 676px;
    top: 291px;
}

.dotted-line-4008 {
    user-select: none;
    position: absolute;
    z-index: 1;
    right: 402.2px;
    top: 61px;
    min-width: 0;
    min-height: 115px;
    border-top: 3px dotted #353941;
    border-left: 3px dotted #353941;
}
#info-4008 {
    display: flex;
    flex-direction: column-reverse;
    right: 364px;
    top: 14px;
}

.dotted-line-4005 {
    user-select: none;
    position: absolute;
    z-index: 1;
    right: 298.2px;
    top: 95px;
    min-width: 0;
    min-height: 230px;
    border-top: 3px dotted #353941;
    border-left: 3px dotted #353941;
}
#info-4005 {
    display: flex;
    flex-direction: column-reverse;
    right: 237.2px;
    top: 53px;
}

.dotted-line-4010 {
    user-select: none;
    position: absolute;
    z-index: 1;
    right: 253.2px;
    top: 185px;
    min-width: 0;
    min-height: 110px;
    border-top: 3px dotted #353941;
    border-left: 3px dotted #353941;
}
#info-4010 {
    display: flex;
    flex-direction: column-reverse;
    right: 196.2px;
    top: 148px;
}

.dotted-line-4009 {
    user-select: none;
    position: absolute;
    z-index: 1;
    right: 319.2px;
    top: 405px;
    min-width: 33px;
    min-height: 110px;
    border-top: 3px dotted #353941;
    border-left: 3px dotted #353941;
    transform: skewY(-30deg);
}
#info-4009 {
    right: 320.2px;
    top: 516px;
}

.dotted-line-4011 {
    user-select: none;
    position: absolute;
    z-index: 1;
    right: 256.9px;
    top: 451px;
    min-width: 0;
    min-height: 50px;
    border-top: 3px dotted #353941;
    border-left: 3px dotted #353941;
}
#info-4011 {
    right: 187px;
    top: 497px;
}

.dotted-line-4002 {
    user-select: none;
    position: absolute;
    z-index: 1;
    right: 183.9px;
    top: 303px;
    min-width: 7px;
    min-height: 65px;
    border-top: 3px dotted #353941;
    border-right: 3px dotted #353941;
    transform: skewY(30deg);
}
#info-4002 {
    right: 139.9px;
    top: 360px;
}

.dotted-line-3999 {
    user-select: none;
    position: absolute;
    z-index: 1;
    right: 11.9px;
    top: 292px;
    min-width: 25px;
    min-height: 44px;
    border-top: 3px dotted #353941;
    border-right: 3px dotted #353941;
    transform: skewY(30deg);
}
#info-3999 {
    right: -32.1px;
    top: 330px;
}

.dotted-line-4007 {
    user-select: none;
    position: absolute;
    z-index: 1;
    right: 84.5px;
    top: 156px;
    min-width: 0;
    min-height: 114px;
    border-left: 3px dotted #353941;
}
#info-4007 {
    display: flex;
    flex-direction: column-reverse;
    right: 32.9px;
    top: 123px;
}

.dotted-line-4003 {
    user-select: none;
    position: absolute;
    z-index: 1;
    right: 88.9px;
    top: 303px;
    min-width: 9px;
    min-height: 84px;
    border-top: 3px dotted #353941;
    border-right: 3px dotted #353941;
    transform: skewY(30deg);
}
#info-4003 {
    right: 27.9px;
    top: 379px;
}

#map circle {
    position: relative;
    z-index: 9 !important;
    outline: 7px solid rgba(232, 232, 232, 0.588);
    border-radius: 50%;
    outline-offset: -1px;
}
.application__title {
    display: flex;
    align-items: center;
    column-gap: 13px;
    margin-bottom: 30px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial;
    font-size: 20px;
    font-weight: 700;
}
.application__title svg {
    width: 30px !important;
    height: 27px !important;
}
.application__title p,
.application__title2 p {
    text-align: center;
    margin: 0;
}
.application__title2 {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    margin-bottom: 5px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 19px;
}
.application__title2 svg {
    width: 40px;
}
.map_statistcs__container-child {
    display: grid;
    place-content: center;
    height: 241px !important;
    background-color: #fff;
    padding: 10px 30px 20px 30px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.map_statistcs-container {
    display: flex;
    height: fit-content;
    column-gap: 23px;
    row-gap: 15px;
    padding: 15px 0 15px 10px;
}

.map_statistcs__regions {
    align-items: center;
    background-color: #fff;
    padding: 20px 30px 20px 30px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    width: 100% !important;
    min-height: 700px;
}
.map_statistcs__regions .application__title {
  justify-content: center;
}
.map_statistcs__left,
.map_statistcs__middle {
    display: flex;
    column-gap: 40px;
}
.map_statistcs__right svg {
    min-width: auto;
    height: 154px;
}
.circle-persentages__circle {
    display: inline-block;
    position: relative;
}

.circle-persentages__circle svg {
    overflow: visible;
    width: 150px;
    height: 135px;
    animation: dash 3.3s ease-out;
    animation-iteration-count: 1;
}
#actualCircle {
    transition: stroke-dasharray 3.3s ease-out;
}
@keyframes dash {
    from {
        stroke-dashoffset: 12;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.inside-circle {
    max-width: 111px;
    position: absolute;
    top: 45%;
    left: 50%;
    font-family: "Gill Sans MT", Calibri, "Trebuchet MS";
    transform: translate(-50%, -50%);
    color: #4b4b4b;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
.inside-circle span {
    display: block;
    font-size: 24px;
    line-height: 4px;
    margin-top: 12px;
}

.state-dropdown {
    font-size: 18px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 2px solid #90b8f8;
    border-radius: 7px;
    height: 55px;
    padding: 12px 32px 12px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    position: relative;
}

.state-dropdown:focus {
    border-radius: 0;
    border-color: #4b78bf !important;
}
.state-dropdown:hover {
    border-color: #397eee;
}
.map_statistcs__regions__stats {
    width: 100%;
}
.map_statistcs__regions__stats li {
    margin: 0 -30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 12px 49px;
    background-color: #fff;
    border-left: 3px solid transparent;
    transition: all 0.3s ease-in-out;
    font-size: 17px;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: -0.4px;
    font-weight: 600;
    font-family: "Gill Sans MT", Calibri, "Trebuchet MS";
    color: #00307d;
}

.map_statistcs__regions__stats li:hover {
    border-left: 3px solid #397eee;
    background: #f8f9fe;
}
.map_statistcs__regions__stats li svg {
    width: 39px;
    margin-right: 15px;
}
.map_statistcs__regions__stats li p {
    margin: 0;
    max-width: 325px;
    text-wrap: pretty;
}
.map_statistcs__regions__stats li span {
    margin-left: auto;
    padding-left: 45px;
    text-align: right;
    min-width: fit-content;
}
hr {
    margin: 0 !important;
    opacity: 1 !important;
}

.odometer-container {
    min-width: 356px;
    height: 56px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 6px;
    color: #00307d;
    font-size: 29px;
    font-weight: 900;
    padding: 5px 0;
}
.odometer-container p {
    margin-left: 4px;
}
.odometer .odometer-digit:not(:last-child) {
    margin-right: 5px;
}
.odometer .odometer-formatting-mark {
    margin-right: 5px;
}

@media (max-width: 1918px) {
    #map {
        position: absolute;
        top: 290px;
        left: 15%;
        /* transform: translate(-50%, -50%); */
        transform: scale(0.9);
    }
    .circle-persentages__circle svg {
        width: 106px;
        height: auto;
    }
    .map_statistcs__container-child {
        height: 203px !important;
    }
    .map_statistcs__container-child,
    .map_statistcs__regions {
        padding: 20px 25px 20px 25px;
    }
    .map_statistcs__regions__stats li {
        margin: 0 -25px;
    }
    .map_statistcs__regions__stats li svg {
        width: 36px;
        margin-right: 13px;
    }
    .map_statistcs__regions__stats li{
        font-size: 15px;
    }
    .application__title {
        font-size: 18px;
    }
}

@media (max-width: 1622px) {
    #map {
        position: absolute;
        top: 300px;
        left: 17%;
        transform: translate(-50%, -50%);
        transform: scale(0.85);
    }
    .circle-persentages__circle svg {
        width: 106px;
        height: auto;
    }
    .map_statistcs__container-child {
        height: 203px !important;
    }
    .map_statistcs__container-child,
    .map_statistcs__regions {
        padding: 20px 25px 20px 25px;
    }
    .map_statistcs__regions__stats li {
        margin: 0 -25px;
    }
}
